<div class="section1" id="infor">
  <div class="grid1">
  <div class="containerinfor">
              <h2>Un Blockchain Académico</h2>
              <p class="mb-4">Permitiendo la facilidad de acceder desde cualquier parte del mundo con acceso a internet para verificar la veracidad de un titulo universitario </p>
              <a href="#certificar" class="btn btn-primary">Leer mas</a>
  </div>
  </div>
  <div class="grid2">
      <div class="compu">
          <img src="https://firebasestorage.googleapis.com/v0/b/certify-tesis.appspot.com/o/perspective2.png?alt=media&token=f8fab8da-3152-458e-9ea4-8fa1c4d7214c" class="img-fluid">
      </div>
  
   </div>

</div>
<!-- // end .section -->
