
<div class="section2" id="certificar">
  <div class="grid3">
    
                  <ul class="list-unstyled ui-steps">
                      <li class="media">
                          <div class="circle-icon mr-4">1</div>
                          
                              <h5>Busca el codigo en el blockchain
                            </h5>
                              
                          
                      </li>
                      <li class="media my-4">
                          <div class="circle-icon mr-4">2</div>
                          
                              <h5>
                            Verifica si esta validado </h5>
                             
                         
                      </li>
                      <li class="media">
                          <div class="circle-icon mr-4">3</div>
                          
                              <h5>Comparte </h5>
                              
                          
                      </li>
                  </ul>

  </div>
    <div class="grid4">
          <div class="ingre">
                <h3>INGRESA UN CODIGO</h3>
          </div>

  <div class="cuadro">
      <div (click)="boton()" id="button-a" class="containersearch">
          
          <div class="search"></div>
      </div>
  </div>
<div class="cuadrin">
  <div class="btn btn-primary"> <a (click)="olvide()" > ¿Olvidaste el código?  </a></div>
</div>
  </div>
</div>



  <!-- // end .section -->
