
    <div class="light-bg py-5" id="contact">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 text-center text-lg-left">
                  <p class="mb-2"> <span class="ti-location-pin mr-2"></span> Caracas, Venezuela</p>
                  <div class=" d-block d-sm-inline-block">
                      <p class="mb-2">
                          <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:support@mobileapp.com">support@certify.com</a>
                      </p>
                  </div>
                  <div class="d-block d-sm-inline-block">
                      <p class="mb-0">
                          <span class="ti-headphone-alt mr-2"></span> <a href="tel:51836362800">+58-4143989733</a>
                      </p>
                  </div>

              </div>
              <div class="col-lg-6">
                  <div class="social-icons">
                      <a href="#"><span class="ti-facebook"></span></a>
                      <a href="#"><span class="ti-twitter-alt"></span></a>
                      <a href="#"><span class="ti-instagram"></span></a>
                  </div>
              </div>
          </div>

      </div>

  </div>