<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="network-name">certify2@0.0.2-deploy.2.bna</p>
      <p class="navbar-brand">Certify2</p>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
          <ul class="dropdown-menu scrollable-menu">
            
            <li><a [routerLink]="['/Certificado']">Certificado</a></li>
            
          </ul>
      </li>
      <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown">Participants</a>
        <ul class="dropdown-menu scrollable-menu">
          
          <li><a [routerLink]="['/Institucion']">Institucion</a></li>
          
          <li><a [routerLink]="['/Carrera']">Carrera</a></li>
          
          <li><a [routerLink]="['/Estudiante']">Estudiante</a></li>
          
        </ul>
    </li>
    <li class="dropdown active">
      <a class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
      <ul class="dropdown-menu scrollable-menu">
        
      </ul>
  </li>
    </ul>
  </div>
</nav>